body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    /* width: 400px; */
    height: 80;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .links {
    height: 400px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .links a{
    padding: 4px;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 8px 0;
    border-radius: 15px;
    border: 1px solid rgb(167, 165, 165);
    color: rgb(117, 119, 119);
    text-decoration: none;
}

.main .links a:hover{
    color: azure;
    border-color: transparent;
    background-color: #0190c9;
}

.impa{
    margin-top: 25%;
    font-size: 12px;
    color: rgb(117, 119, 119);
}
